* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

span {
  font-weight: bold;
  color: #ff6f61;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #0077cc;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1); /* Adding shadow to the buttons */
}

button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow on hover */
}

.social {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  color: #333;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1); /* Adding shadow to the GitHub icon */
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow on hover */
}
